.img_wrapped {
    position: relative;
}

.mroof {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    mix-blend-mode: multiply;
}
