{%extends "base.html"%}

{%block title%}Demo map{%endblock%}
{%block header%}
<h1>
  Women in Auschwitz
  <small class="text-muted">The Camp as a Women's Space</small>
</h1>
{%endblock%}

 {%block body%}

<div class="card">
  <div class="card-body">
    {{auch_items|safe}}
  </div>
</div>
<div class='mt-2'>
  Women first arrived in Auschwitz (Green: the Main Camp) in Spring 1942 and over the course of the following three years, a total of 131 000 women were registered in the camp and imprisoned in Auschwitz and Birkenau (Red: Birkenau). An additional 50 000 women not registered in the camp were kept in the so-called deposit camps located in Birkenau. The SS physicians conducting the selections on the ramp (Blue) deemed several hundred thousand women to be “unfit” for work  and sent them to crematoria to be  murdered immediately. 
</div>

{%endblock%}
