{%extends "base.html"%}

{%block title%}Demo map{%endblock%}

{%block body%}
{{b2_items|safe}}

<div class='mt-2'>
    <em>(From left to right) Top Row: BII-g (Kanada), BII-e (Roma Camp), BII-c (Transit Camp), BII-b (Theresienstadt Family Camp), BII-a (Quarantine Camp); Bottom Row: BI-a & BI-b (Frauenkonzentrationlager).</em> The areas in green were the parts of the camp where women were imprisoned only with other women and were overseen by female SS personnel. In red were the areas where there was also a male presence. SS (men) conducted selections from the Jewish prisoners only; these selections were officially done by SS Physicians but the Aufseherinnen would assist and send prisoners unfit for work to the “hospitals, which were considered antechambers of death.
</div>

<a href="/">Back to the front page</a>

{%endblock%}
