{%extends "base.html"%}

{%block body%}
<div class="mt-2">
<div>
  <h1>Frauenkozentrationlager (FKL)</h1>
</div>
<div class="mt-2">
  SS began transferring prisoners from  Auschwitz-1 to Birkenau in August 1942 in the middle of the typhus epidemic. At first, they moved women to BI-a and men to BI-b, but in early 1943, men were transferred to the newly built BII-d and the entire BI (BIa and BIb) section became the Frauenkozentrationlager (FKL). The FKL stemmed from KL-Ravensbruck, where the Aufseherinnen and the camp’s first women prisoners (many became functionary prisoners) came from. Johanna Langfeld, the first overseer of FKL was replaced by Maria Mandel in October 1942. Mandel stayed in her position until 1944. In a patriarchal system, men had to always overpower women and in the camp, which meant that the women working for the SS modelled their behaviours after men.  In their memoirs, prisoners remember Mandel as cruel. Mandel was never able to outrank an SS officer, but she modelled her behaviour after SS men through initiatives like creating a women’s orchestra from women prisoners. 
</div>
<div class='mt-2'>
  Men and women prisoners were strictly kept apart from each other, with men prisoners only entering the FKL when construction needed to be done. Moreover, SS officers were not allowed in the women’s camp, except for the SS physicians to carry out selections with the assistance of the Aufseherinnen. This was for two main reasons: first, in general women prisoners were guarded by other women as it was conceived to be natural; the second, standards of modesty (Private Communication).
</div>
<h2><u>Living Conditions</u></h2>
<div class="mt-2">
  Rudolf Höss, one of the kommandants of Auschwitz, wanted to save the farmland where the original site proposed for Auschwitz-II was and so the SS built Birkenau on marshy ground. The mud extended to inside the barracks. Throughout the duration of the FKL, foundations were gradually added.
</div>
<div class="mt-2">
  Women were sleeping on three-story bunks with 5-9 other women in overcrowded barracks. Women who slept on the top bunk woke up covered in snow over them in winter, while women on the bottom bunks, would get covered in mud. Due to the overcrowding, the bunks would sometimes collapse onto the women below them. The middle section was the common area with the heater that was rarely lit in winter due to a lack of supplies for prisoners.
</div>    
<div class='mt-2'>
  The FKL was moved to Birkenau after four months in July 1942, in the middle of the Typhus epidemic and living conditions there were especially bad there because it was built on swamp ground. Moreover, BI-a did not originally have latrines. Rather, women would relieve themselves in a large ditch. The typhus epidemic began affecting also SS staff and their families. This meant that the epidemic could spread to Germans settlers in the area. Due to this, SS finally built latrines in the FKL.
</div>
<div class="mx-auto" style="width: 911px;">
<img src="img/Block_25.png" width="911" height="423" class="rounded mx-auto d-block" alt="..."/>
</div>
<div>
   <em> This photo is of Block 25 in the FKL. This block was used as an infirmary for women. “Block 25 is surrounded by a wall, the entrance door is always locked. The sick disappear through this door never to come out again.” (Szmaglewska 41)</em>
</div>
<figure class="text-center">
    <blockquote class="blockquote">
      <p>"Because in the hospital each sick woman is examined by an SS doctor and when suspected of a contageious disease is exterminated, there is among the Polish women the determination to avoid the hospital at any cost. It is generalll accepted that: better to lie in the rain and mud than go to the hospital where only death awaits you.
      </p>
      <P> As a result, when a woman faces the fact that she is really sick, she bravely decides to carry on.”
    </P>
    </blockquote>
    <figcaption class="blockquote-footer">
        Szmaglewska <cite title="Source Title">(36-37)</cite>
    </figcaption>
  </figure>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>“Dysentry is propagated by the toilets. These are colossal vats of cement placed in line with the wires. Lengths about eleven yards, width about two yards. These vats are always full, always uncovered, and their edges slipperly.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Szmaglewksa <cite title="Source Title">(41)</cite>
    </figcaption>
  </figure>
<div>
    <img src="img/Latrines.png" width="911" height="423" class="rounded mx-auto d-block" alt="..."></img>
</div>
<div class="mt-2">
    <em>These latrines in the photograph are actually located inside the Quarantine Camp (BIIa), but very similar ones existed in the FKL.</em>
</div>
<div class="mt-2">
  Another aspect of life in the camp was prolonged starvation leading to many women losing their periods. This would have been the loss of a biological marker of their womanhood and femininity.</div>
<div class="mt-2">
  In Auschwitz, women had very low chances of survival. Women selected on the ramp to become prisoners were sent to Birkenau, thus living in especially poor conditions. Zoe Waxman argues in Nazi German concentration camps, under the same conditions as male prisoners, women prisoners were more likely to survive (85). However, women often lived in worse conditions than men in Auschwitz meaning that this statistic does not extend to Auschwitz. </div>
<div>
    <h2>
        <u>Motherhood</u>
    </h2>
</div>
<div class="mt-2">
  The history of women in Auschwitz is closely intertwined with the history of children in Auschwitz. Some children were imprisoned in the Gypsy Family Camp (BIIe) and the Theresienstadt Family Camp (BIIb). There were very few children in Auschwitz, as the SS were unable to use children for slave labour. Upon arrival, children were gassed (the SS did registered teenagers who looked like they could work). The SS sent motherrs to the gas chambers with their children and mothers have been remembered as martyrs by survivors for doing so. Women who chose not to go to the gas chamber with their children were seen by contemporaries as rejecting their motherly duties (Borowski 43).The SS sent also to the gas chambers women who arrived visibly pregnant. To the Nazis, Jewish women were seen as particularly dangerous as they had the ability to create a new generation of Jews. Therefore, in the eyes of the SS, Jewish women and children were a danger to the camp and Nazi society at-large as children were unproductive and women were reproductive.</div>
<div>
    <img src="img/Hospital_barracks.png" class="rounded mx-auto d-block" alt="..."></img>
</div>
<div class="mt-2">
  Women would still give birth in the FKL. It is estimated that around 700 babies were born at Auschwitz, but it is very likely that this number is higher (Voices of Memory 5). In 1943, due to the labour shortages, the SS began killing only the babies. Rather than the SS killing mothers with their babies, other women who worked as doctors, nurses, and midwives in the camp, would murder the newborns. By telling the SS that the baby died during childbirth, the mother was saved from the gas chambers.
</div>
<div class="mt-2">
<figure class="text-center">
    <blockquote class="blockquote">
      <p>“As soon as a baby was delivered at the infirmary, mother and child were both sent to the gas chamber. That was the unrelenting decision of our masters. Only when the infant was not likely to survive or when it was stillborn was the mother spared and allowed to return to her barrack. The conclusion we drew from this was simple: the Germans did not want the newborn to live; if they did, the mothers, too, must die.
    </p>
    <p>    One day we decided we had been weak long enough. We must at least save the mothers. To carry out our plan, we would have to make the infants pass for stillborn. Even so, many precautions must be taken, for it the Germans were ever to suspect it, we, too, would be sent to “the gas chambers - and probably to the torture chamber first.
    </p>
    <p>And so, the Germans succeeded in making murderers of even us.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Olga Lengyel<cite title="Source Title">(113-114)</cite>
    </figcaption>
  </figure>
</div>
<div class="mt-2">
This was a uniquely female experience.
</div>
<div class="mt-2">
<figure class="text-center">
    <blockquote class="blockquote">
      <p>    “Dr Mengele asked if I was pregnant because of my bloated stomach because of all the extra potato peels I had been eating”
    </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Elly Berkovits Gross <cite title="Source Title">(EBG)</cite>
    </figcaption>
  </figure>
</div>
<div>
  <h2>Sisterhood in the Camp</h2>
</div>
<div class="mt-2">
</figure>
<figure class="text-center">
  <blockquote class="blockquote" class='mt-2'>
<p>
  "In the morning, clutching my companions, still mute, haggard, lost, I let myself be led—or rather they watched over me, since I was deprived of all reflex action, and without their help would have walked into an SS as easily as into a pile of bricks, or failed to keep my place in the ranks. I would have been shot… Carmen came back. She and Viva, having made sure the way was clear, grabbed me under each arm, taking me into a recess between a piece of wall and the pile of shrubs we were supposed to carry. “Here!” Carmen said, showing me a pail of water. It was made of zinc, like those used in the country to get water from a well. A large pail. Full. I tore myself from Carmen and Viva, threw myself on the pail of water. Actually fell upon it. I knelt near the pail and drank like a horse, dipping my nose in the water, plunging my whole face."
</p>  </blockquote>
  <figcaption class="blockquote-footer">
    Charlotte Delbo <cite title="Source Title">(142-144)</cite>
  </figcaption>
</figure>
</div>
<div class='mt-2'>
  Feminist Holocaust scholars have written about a “Jewish Sisterhood” that emerged inside concentration camps. This sisterhood is often used to explain certain survival techniques used by women, such as “cooking by imagination”, organizing food, water, and medical supplies, and keeping living quarters clean (Saidel 54; Delbo). This notion of sisterhood also extended to non-Jewish women prisoners.  Feminist premise of the idea of sisterhood as a gender based alliance.
</div>
<div class='mt-2'>
  Within the added context of a sisterhood, the reasons for female SS personnel exclusion from this sisterhood can be further examined from the perspective of broader feminist scholarhsip. Concepts from Black feminist scholarship may help to answer the questions as gender is always racialised. Audre Lorde, in “The Master’s Tools will never Dismantle the Master’s House,” highlighted how white women exploited women of colour in order to gain a privileged position within a traditional patriarchal society. By extending this theory to the Camp, it is possible to further examine how SS women benefited from the presence of women prisoners in Auschwitz.
</div>
<div class='mt-2'>
  Wendy Lower’s exploration in <em>Hitler's Furies</em> into involvement of women in colonial practices of the Nazi expanision in Eastern Europe teaches that German women to further their careers or rise above the formula  of “Kinder, Kueche, Kirche.” On one hand, the Third Reich reinforced the idea of Kinder, Küche, Kirche, while on the other created other opportunities for unmarried women.
</div>

<a href="/">Back to the front page</a>
{%endblock%} 
