{%extends "base.html"%}

{%block body%}
<div>
  <h1>
    BIIa – The Quarantine Camp
  </h1>
  </div>
  Women and men were both held in BIIa. BIIa opened in spring 1943. Women were held in blocks 3-6. Prisoners were to remain there for their first couple weeks in the camp to supposedly prevent spread of possible disease throughout the larger camp, however, in practice, SS held prisoners there for different periods of time, indicating the lack of standard procedure. Often, the SS sent women straight into the FKL, or, if they were sent into the quarantine sector, women could be there for a couple nights or a couple months.
</div>
<div>
  <img src="img/BIIA.png" class="rounded mx-auto d-block" alt="..."></img>
</div>
<div>
  <em> This image shows Blocks 3-6 in the Quarantine camp, which were used for imprisoned women.</em>
</div>
<div class="mt-2">
  Seweryna Szmaglewska wrote in her novel <i>Smoke over Birkenau</i> a story about Felicja Iwanowska. This indicates that the quarantine sector was used for the prisoners allowed to leave (similar to the function of block 2 in Auschwitz I). For prisoners arrested (in the traditional sense of the word) and had served their sentence, they would be brought to the quarantine area of the camp to await their release.
</div>
<div class="mt-2">
  <figure class="text-center">
      <blockquote class="blockquote">
        <p>
          “After a time Felicja Iwanowska returns to the camp. With her come the Germans Leo, Marta, Greta and almost half of those who were to be set free. Then the next group is summoned to the quarantine.
        </p>
        <p>
          And she tells us her story: from the quarantine barracks she was sent to Oświęcim. This time she was kept waiting there for further development. After two months she was summoned to a trial at which her parents and husband were present. After the trial she was exonerated of all crime. “Sie sind frei (You are free)” was the verdict.
        </p>
        <p>
          But the Gestapo stepped in. They opposed the verdict, gave her one hour to talk with her family, and then took her back to Oświęcim, where she was registered with the same number as before.”
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Szmaglewska<cite title="Source Title">(160)</cite>
      </figcaption>
    </figure>
  </div>
<div>

<a href="/">Back to the front page</a>
{%endblock%}
