{%extends "base.html"%}

{%block body%}
<div>
  <h1>BIIg - Kanada</h1>
</div>
<div>
  “Kanada” is the prisoner name for the warehouses which stored the property that the SS plundered from people deported to Auschwitz, mostly from Jews murdered in the camp. The prisoners working there would help to collect belongings Jewish people brought with them and sort them in the warehouses. 
</div>
<div>
  The first Kanada warehouses were in the industrial zone of Auschwitz I. In Birkenau, Kanada warehouses were in the BIIg sector and  were one of the few places where imprisoned men and women were able to interact. Women who worked in the camp would have access to extra food and clothing, and information from the men’s camp.
</div>
<div class='mt-2'>
  In addition to the warehouses in BIIg, barracks where prisoners working in Kanada slept were built for the arrival of Hungarian Jews. Prior to 1944, women would live in their sectors of the camp and walk to work in Kanada.
</div>
<a href="/">Back to the front page</a>
{%endblock%}
