{%extends "base.html"%}

{%block body%}
<div>
  <h1>The Alte Judenrampe</h1>
</div>
</div>
<div>
<img src="img/Alte_Judenrampe.png" class="rounded mx-auto d-block"></img>
</div>
<h2><u>Arrival</u></h2>
<div class='mt-2'>
  People deported to Auschwitz between 1942 and May 1944 in transports arrived at the Alte Judenrampe located next to Birkenau and there the SS physicians conducted selections of Jewish prisoners . A new railway extension and platform was built inside Birkenau for the mass deportations of Hungarian Jews in 1944. The ramp is where most selections would happen. Upon their arrival, newcomers were divided by gender (men to one side, women to the other) and young children would go with their mothers. Patriarchal understandings of motherhood translated into sending mothers with their children (who were unable to become prisoner labour) to the gas chambers. The SS selection practices also meant that the idea of fatherhood ceased to exist during the selection together with traditional family relationships. 
</div>
<div class="mt-2">
  Upon entry into the camp, prisoners (except those in the Roma camp and the Theresienstradt Family camp) walked to the bathhouses where they were forced to strip, have their heads and bodies shaved, were tattooed, and given a uniforms (camp clothing depended on when prisoners entered the camp). SS practices of the registration process were the same for all prisoners, but various groups experienced them differently depending on their age, nationality, race, religious and cultural associations, and gender. For instance, men recount the loss of hair in terms of a loss of “autonomy and dignity” (Kremer 10). Roma and Sinti experienced the loss of hair not only as shameful, but as a physical destruction of their culture. In the case of women, the shaving of the head (and body, but the head in particular) was the removal of a marker of their femininity. For some devout Jewish women experiencedthe shaving as a sexual assault. 
</div>
<div class="mt-2">
</figure>
<figure class="text-center">
  <blockquote class="blockquote" class='mt-2'>
    <p>“The shaving of hair has a startling effect. The absence of hair transforms individual women into like bodies. Indistinguishable. Age melts away. Other personal differences melt away. Facial expressions disappear. In their place, a blank, senseless state emerges on the thousand faces of one naked, unappealing body. In a matter of minutes, even the physical aspect of our numbers seem reduced - there is less of a substance to our dimensions. We become a monolithic mass. Inconsequential.</p>
    <p>The shaving of hair has another curious effect. A burden is lifted. The burden on individuality. The burned of associations. Of identity.”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Livia Bitton-Jackson <cite title="Source Title">(78)</cite>
  </figcaption>
</figure>
</div>
</figure>
<figure class="text-center">
  <blockquote class="blockquote">
<P>“She laughed, enjoying every minute of our degradation. Pure hatred mixed with fear and pain swirled in my brain until I silently screamed and swore revenge. As if reading my thoughts, the SS woman slapped my face hard with the back of her hand. My head reeled back, but the Kapo kept on clipping. As she shaved my armpits and all other body hair, I concentrated on my hatred: hatred for her, hatred for the Germans who had reduced me to this sweating, naked creature, without hair, without dignity. I was no longer a human being to them, just an expendable Jew.”</P>
  </blockquote>
  <figcaption class="blockquote-footer">
    Lucille Eichengreen <cite title="Source Title">(93-94)</cite>
  </figcaption>
</figure>
<div>
  <img src="img/saunas.png" class="rounded mx-auto d-block"></img>
</div>
<div>
  <em>
    In red on the left, is the sauna located in BII-g (Kanada) which the SS used in 1944 to process and register all new arrivals in the camp. In the red in the middle are the saunas located in the FKL. These were used for men and women new arrivals when Birkenau was first opened. There are also some instances of women being brought to the saunas in Auschwitz-I, the main camp, when the saunas in Birkenau were too busy.  </em>
</div>
<div class='mt-2'>
  Women became prisoners in the saunas. Women prisoners were stripped of all physical markers of their femininity, such as their hair. Their camp “uniforms” did not always include underclothes nor other articles of clothing that made women prisoners feel like women. The difference between how men and women experienced the same acts of the perpetrator is interesting to consider. Shaving heads, for instance, depraved women of their femininity and transformed women into prisoners, whereas men perhaps associated shaving heads with becoming soldiers.
</div>
<a href="/">Back to the front page</a>
{%endblock%}