{%extends "base.html"%}

{%block body%}
<div>
  <h1>Auschwitz I - The Main Camp</h1>
</div>
<div>
<img src="img/main_camp.jpeg" class="rounded mx-auto d-block"></img>
</div>
<div>
<h2>First Transport of Women</h2>
</div>
<div class='mt-2'>
    In June 1940, the first group of Polish prisoners arrived in Auschwitz and until 1942, the camp operated as a camp only for men. In 1940 concentration camps were divided as ones for men or women; in 1942, however, the RSHA (Reich main security office) sent to Auschwitz women to take over the agricultural work to free men prisoners to work in various industries. This was in line with the (Nazi) gendered thinking about division of work. 
</div>
<div class='mt-2'>
    The first transport of women (who became functionary prisoners in FKL) came from another major centre, KL-Ravensbrück, and was followed by the arrival of Slovak Jewish women.
</div>
<div class='mt-2'>
    The first transports of women prisoners also coincided with the other big change in Auschwitz in 1942: the industrial mass killing of Jews and the SS physicians carrying selections on the ramp.
</div>
<h2>
    Block 24 - The Puff
</h2>
<div class='mt-2'>
    The puff was the brothel that the SS set up for male prisoners as a work incentive and it mimicked the one that was created at Mauthausen in 1941 (Robert Sommer). The creation of the puff in Auschwitz was tied to the economics of concentration camps. The Puff was located in Block 24 of the main camp and it was the only women’s kommando that was not supervised by women (the SS men considered the work to be inappropriate for the Aufseherinnen to oversee). In the camp, the women prisoners who were “employed” in the Puff were considered to be prostitutes, however, due to our current understanding of human trafficking and the lack of consent, in practice these women prisoners were coerced into a form of sexual slavery.
</div>
<h2>
    Stabsgebäude
</h2>
<div class='mt-2'>
    In part, due to the patriarchal standards of the Nazi regime, Heinrich Himmler mandated that the women prisoners would be overseen by female guards. Therefore, the SS Aufseherinnnen came to Auschwitz from KL-Ravensbrück, a women’s concentration camp. The women working for the SS as Aufseherinnen had direct control over the women prisoners, but men were still in charge of the Frauenkozentrationlager (FKL) as a part of KL-Auschwitz. The SS was an elite male-only organization. Therefore, the women working in the camp were technically independent contractors for the SS, rather than SS officers or guards, as former prisoners called them sometimes in their memoirs.
</div>
<div class='mt-2'>
    In Auschwitz, women prisoners and their SS overseers lived in the Stabsgebauede, located in the industrial area of the main camp (see photo). At any given time, about 300-500 Jewish women slept in the basement of the building and worked in the camp’s administration and in the laundry. Since Spring 1942, the laundry kommando was one of two women-only work kommandos. Female Jehovah’s witnesses also stayed in this building, as the SS wives enjoyed having them as their domestic help. While the prisoners stayed in the basement, SS Aufseherinnen occupied rooms on various higher levels.

</div>
<div class="mt-2">
    <img src="img/ss_home.jpeg" class="rounded mx-auto d-block"></img>
  </div>
  <div>
      <em>The Stabsgebäude was not actually in the main camp. In this photograph, SS units gather outside the Stabsgebäude.</em>
  </div>
<a href="/">Back to the front page</a>
{%endblock%}