{%extends "base.html"%}

{%block body%}
<div>
  <h1>BIIb – The Theresiendstadt Family Camp
  </h1>
  <div class="mt-2">
    The SS transported some Jews from the Theresienstadt Ghetto into BIIb: the Theresienstadt Ghetto Family Camp. In the family camp,  prisoners in this camp did not have their heads shaved nor receive tattooed numbers; this was because Theresienstadt ghetto was to be used for Nazi propaganda in case of Red Cross visit. Men and women lived in separate barracks (men in the even numbered ones and women and small children in the odd numbered ones) (Voices of Memory 12). Prisoners set up a nursery and kindergarten in Block 31. Women in BIIb were able to keep their belongings and hair, as well as remain in (modified) family units. This impacted the experiences of women in the camp. The SS liquidated the BIIb family camp in two stages. 
  </div>
  </div>
<div class="mx-auto">
  <img src="img/biib.png"></img>
</div>
<div>
  <em>
    The blocks in BIIb were separated by gender, with the odd-numbered blocks (in red) for women and small children. Block 31 became the nursery for the children. These children would not have survived the liquidation in July 1943.
  </em>
  </div>
<a href="/">Back to the front page</a>
{%endblock%}
