{%extends "base.html"%}

{%block body%}
<div>
  <h1>BIIe - Zigeunerlager</h1>
</div>
<div class='mt-2'>
  The Zigeunerlager was the camp for Roma and Sinti (called at that time “Gypsy”) families, who the SS persecuted alongside Jews as a racial threat. The SS considered “Gypsies” to be genetically anti-social and Nazi eugenicists attributed their percieved criminality as an inherent trait, thus relegating them as a racial threat to the Nazi society. In the Zigeunerlager, 25 000 people were imprisoned and women and children accounted for around 11 000 inhabitants.
</div>
<div class='mt-2'>
  In the Zigeunerlager, families were living together. This meant that mothers, fathers, and children all lived in the same barracks. In the other family camp (BIIb, the Theresienstadt Family Camp), men and women were separated, however in both camps, the family dynamics and people’s roles within their families changed. Since the SS provided food, the domestic functions of women changed. They were not solely responsible for cooking for their families, but an inadequate amount of food caused a variety of obstacles.</div>
<div class="mx-auto" style="width: 700px;">
  <img src="img/roma_portraits.png" width="600"> </img>
  </div>
  <div>
    <em>Dina Babbitt created these portraits of imprisoned Roma inside the Zigeunerlager. </em>
 </div>
 <div class='mt-2'>
  Josef Mengele, an infamous SS physician, conducted his criminal medical experiments in his hospital in the Zigeunerlager.  </div>
<a href="/">Back to the front page</a>
{%endblock%}