{%extends "base.html"%}

{%block body%}
<div>
    <h1>
        BIIc – The Durchgangslager
    </h1>
</div>
<div class='mt-2'>
    BIIc (along with BIIb and BIIe after their liquidations in 1943 and 1944 respectively and BIII - called by prisoners “Mexiko”) became a combination of transit and quarantine camps. Some deportees in these camps never formally became prisoners in Birkenau, and were just interned there while the SS decided their fate based on their need of prisoner labour. In 1944, the SS used these sectors primarily for the large number of Hungarian Jews and Jews from the Litzmannstadt (Łodz) ghetto. For newly arrived prisoners, this was the place where they were taught by functionary prisoners how to be a prisoner in Birkenau. It was here that new women learned the routines of the camp. 
</div>
<div class="mt-2">
    <figure class="text-center">
        <blockquote class="blockquote">
          <p>“The Lager was surrounded by a high-voltage electric wire fence, and only those ready to kill themselves ventured near it, which was an everyday occurrence. It was impossible to escape, so why was it then necessary to count us twice a day, morning and afternoon? As long as the numbers were right, there was no problem, but woe to us if the Appell numbers were off. At such times, we did not get away with merely standing in the rain for three or four hours. Instead, the whole Lager had to kneel until they managed to figure out, after re-counting two or three times, where they made an error.
        </p>
        <p>    The Appell was followed by the distribution of supper and we had to wait outside for this as well, at times almost collapsing from exhaustion….However, on this first evening, we newcomers did not receive any super. We aren’t hungry anyways, so filled with the day’s horrors that we would not have been able to ea.
        </p>
        <p>At last, we returned to the block, some of us, like me, to sit in a puddle of water again to have our rest. Then the Blokova entered – the one we were supposed to call Miss – stepped up onto the heating flue to give a speech…She then called our attention to the fact that this was an exemplary block, where she would not tolerate any disorder, and tha t we had better take care of ourselves while our health held out.
        </p>
        <p>
          We cried ourselves to sleep after the sufferings of the terrible day and we woke with our hearts racing at three in the morning, at the sound of the awful shouting. “Aufstehen!” (Get up!) “Quickly, Quickly! Get Coffee!”
        </p>
        <p>
          At last, we returned to the block, some of us, like me, to sit in a puddle of water again to have our rest. Then the Blokova entered – the one we were supposed to call Miss – stepped up onto the heating flue to give a speech…She then called our attention to the fact that this was an exemplary block, where she would not tolerate any disorder, and tha t we had better take care of ourselves while our health held out.
        </p>>
        <p>
          We cried ourselves to sleep after the sufferings of the terrible day and we woke with our hearts racing at three in the morning, at the sound of the awful shouting. “Aufstehen!” (Get up!) “Quickly, Quickly! Get Coffee!” 
  
        </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Anna Molnár Hegedús<cite title="Source Title">(50-54)</cite>
        </figcaption>
      </figure>
    </div>
    <div class='mt-2'>
        The conditions in these areas of the camp were particularly bad, with significant overcrowding and lack of basic structures. All the barracks in the BII deposit camps were wooden with three-tiered bunks. Around 900 women had to sleep there, compared to barracks in other sectors of the same size which housed 500-600 prisoners (Private Communication).
    </div>
    <div class='mt-2'>
        The SS liquidated the FKL in November 1944 and placed women into BIIa, BIIb, BIIc, BIIe, and BIII.In January 1945, the SS transported women to camps in Germany. On the death marches, some women survived by escaping, but many died.  
</div>
<a href="/">Back to the front page</a>
{%endblock%}